
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&family=Roboto:wght@100&display=swap');

body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 background-color: #0B0C10;
 scroll-behavior:smooth;
}
.logo{
 font-size: 25px;
 font-weight: 500;
 font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
span{
 color:#66FCF1;
 
}
nav {
 color:white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 20px;
}

.nav-links {
 list-style: none;
 display: flex;
}

.nav-links li {
 margin-right: 20px;
}

.nav-links a {
 text-decoration: none;
 color:#66FCF1;
 font-size:20px;
 font-style: normal;
}
.nav-links a:hover{
 color: white;
 transition:0.5s;
}
/* Hamburger menu for small screens */
.burger-menu {
 display: none;
 cursor: pointer;
}

/********content********/
.content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   }
   .content-head {
    margin-top: 50px;
    margin-right: 50px;
   }
.content-head span{
 color: #ffff;
}
.content-head h1{
 font-size:65px;
 padding:5px 20px 5px 0px;
 color: #66FCF1;
}
.content-head{
padding:50px 20px 0px 10px;
}
.content-img img{
 width: 450px;
 padding-top:30px;
 margin-left: 20px;
}
.content-head h1{
margin-bottom:12px;
}
.content-head p{
font-size:20px;
max-width: 100%;
font-weight: 200;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
}
.content-head a{
    border: 2px solid #66FCF1;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 8px 2px 3px;
    background-color: #66FCF1;
    color: #333;
    font-size: 15px;
}
.content-head a:hover{
    color: #fff;
    background-color: transparent;
}
/*******Technical Skills*******/
.skill-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.content-skills h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    }

.content-skills{
    margin-top: 100px;
}
h2{
    color: #fff;
    font-size: 25px;
    margin-left: 150px;
}
.skill-bar p{
color: #fff;
margin-left: 30px;

}
.bar{
    width: 500px;
    background-color:#f5f5f5;
    margin-left: 20px;
    border-radius:8px;
  }
  
  .skills{
    text-align:right;
    padding-top: 3px;
    padding-bottom: 3px;
    color:#2e2f31;
    border-radius:8px;
  }
  
  .html {
      width: 90%; 
      background-color: #66FCF1;
      
  }
  .css {
      width: 60%;
      background-color: #66FCF1;
      }
  .js {
      width: 10%; 
      background-color: #66FCF1;
  }
  .py {
    width: 60%; 
    background-color: #66FCF1;
}
  .sql {
      width: 65%; 
      background-color: #66FCF1;
    }

  .ex {
        width: 40%; 
        background-color: #66FCF1;
    }



/**********AboutMe styling********/
.about{
    display: flex;
     column-gap: 50px;
    justify-content: center;
     margin-top: 100px;
     margin-left: 50px;
}
 .about-img img{
  width:350px;
  height: 350px;
  margin-top:60px;
 
}
.about-content1 p{
width:80%;
font-size: 18px;
color: #fff;
}
.name,.degree.exp,.email{
  color: #66FCF1;
}
.about-content1 h1{
    color: #fff;
    font-size: 40px;
  }
  .about-content1{
    margin-bottom: 10px;
  }
  .about-content{
    display: flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    flex-direction: row;
    column-gap: 30px;
    margin-right: 130px;
    margin-top: 40px;
  }
  .about-experience{
    border: 2px solid #66FCF1;
    height: 185px;
    width: 380px;
    border-radius: 8px;
    background-color:transparent;
  }
  .about-experience:hover{
    box-shadow: 0 4px 8px 0 rgba(176, 168, 168, 0.808), 0 6px 20px 0 rgba(213, 206, 206, 0.638);
  }
  .about-experience p{
  text-align: center;
    color:grey;
    font-size: 18px;
    margin-left: 30px;
  }
  .about-experience h4{
    font-size: 25px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    margin:10px;
  }
  
  .about-education{
    border: 2px solid white;
    height: 185px;
    width: 380px;
    border-radius: 8px;
    border: 2px solid #66FCF1;
   
  }
  .about-education:hover{
    box-shadow: 0 4px 8px 0 rgba(176, 168, 168, 0.808), 0 6px 20px 0 rgba(213, 206, 206, 0.638);
  }
  .about-education h4{
    font-size: 25px;
    font-weight:bold;
    text-align: center;
    color:#fff;
    margin:10px;
  }
  
  .about-education p{
    text-align: center;
    color:grey;
    font-size: 18px;
    margin-left: 36px;
  }
/************Projects styling***************/
.project{
    margin-top: 100px; 
}
.image-container1{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    column-gap: 100px;
    align-items: center;
    margin-left: 30px;
}
.project-content h1{
   text-align: center;
   color: #fff;
   font-size: 40px;
}
.project-content h3{
    margin-top: 80px;
    color: #66FCF1;
    margin-left: 30px;
    font-size: 25px;
}

h3{
    margin-top: 110px;
    color: #66FCF1;
    margin-left: 30px;
    font-size: 25px;
    top:50px
}

.project-image1 a{
    border: 2px solid #66FCF1;
    background-color:#66FCF1;
    text-decoration: none;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    color:#333;
   margin-left: 90px;
   position: relative;
   bottom: 100px;
}

.project-image1 h6{
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom:200px;
    font-weight:bold;
}
.project-image1 img{
    width: 350px;
    height: fit-content;
    margin-bottom:5px;
    border-radius:5px;
    padding-bottom:25px;
    opacity: 0.5;
}
.image-container1{
    margin-right: 100px;
    margin-top: 60px;
}
#img{
    width: 350px;
    height: 192px;
    border-radius: 5px;
}
#btn{
    border: 2px solid #66FCF1;
    background-color:transparent;
    text-decoration: none;
    padding: 8px 80px 8px 80px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(176, 168, 168, 0.808), 0 3px 10px 0 rgba(213, 206, 206, 0.638);
}
.btn{
   margin-right: 30px;
    text-align: center;
}
#btn:hover{
    background-color: #66FCF1;
    border: #66FCF1;
    color: #333;
}

#mark{
    color:whitesmoke;
}

.project-poster{
    margin-top: 100px;
}
.project-poster-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 250px;
}
.project-poster-img img{
    width: 350px;
}
#posterimg{
    width: 350px;
    height:250px;
    border-radius: 5px;
    
}
.project-poster-img a{
    border: 2px solid #66FCF1;
    background-color:#66FCF1;
    text-decoration: none;
    padding: 8px 60px 8px 60px;
    border-radius: 5px;
    color: #333;
    margin-left: 80px;
}
.project-poster-img h6{
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.project-poster p{
    color: #66FCF1;
}
.project-poster p:hover{
 text-decoration: underline;
 color: #fff;
}


/**********Contact styling*********/
.contact h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}
.contact-content{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 200px;
}
.contact-column1 h4{
    color:white;
}
.contact-column1 p{
    color: #fff;
    width: 500px;
}
.contact-input form{
    margin: 50px;
}
input{
  padding: 15px 319px 15px 10px;
  width: 200px;
  margin-bottom: 20px;
  background-color: transparent;
  color:whitesmoke;
  font-size:15px;
  border-radius: 5px;
}
input:focus{
    border: 2px solid #66FCF1;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
}
#text{
    padding: 15px 350px 100px 10px;  
}
textarea{
    background-color: transparent;
    color:whitesmoke;
    margin-bottom:20px;
    border-radius:5px;
}
textarea:focus{
    border: 2px solid #66FCF1;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
}
button{
    padding: 10px 330px 10px 200px;
    text-align: center;
    width: 350px;
    font-size: 18px;
    background-color: #66FCF1;
    border: 2px solid #66FCF1;
    border-radius: 8px;
    font-weight: 200;
}
button:hover{
box-shadow: 5px 5px 5px #66FCF1;
background-color:white;
border:2px solid white;
}
.contact-column1 .fa{
font-size: 16px;
}
.icons{
    margin-top: 20px;
}
.icons .fa{
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    margin-right: 20px;
}
.icons .fa:hover{
    background-color:#66FCF1;
    border:2px solid #66FCF1; 
    color:white;
}

/*****footerstyleing*******/
.footer-content{
   text-align: center;
   margin-top: 110px;
   background-color:#66FCF1;
   padding-top: 20px;
   padding-bottom: 18px;
}
.footer-logo{
    margin-bottom: 20px;
}
.footer-logo i{
    border: 2px solid #000;
    padding: 10px;
    border-radius: 25px;
    margin-right: 20px;
    background-color: #000;
}





/*Media queries for  Tablets responsiveness */
@media  only screen and (max-width:768px) {
 .nav-links {
     display: none;
     flex-direction: column;
     background-color: #333;
     position: absolute;
     top: 60px;
     left: 0;
     width: 100%;
     padding: 0;
     text-align: center;
     z-index:1;
 }

 .nav-links.active {
     display: flex;
 }

 .burger-menu {
     display: block;
 }




 .content{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:flex-start;
 }
 .content-head h1{
  text-align: center;
  font-size:20px;
  width: 100%;
  margin-left: 25px;
 }
 .content-head span{
    font-size:35px;
    margin-left: 8px;
 }
 .content-img img{
    width: 300px;
    height:300px;
    padding-left: 55px;
 }
 .content-head p{
  font-size: 15px;
  text-align:center;
   width: 100%;
   margin-left: 25px;
 }
 .btn{
    margin-left: 35px;
    column-gap: 50px;
 }
 .bar{
    width:350px;
    margin-right: 15px;
 }
.about{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 20px;
}
.about-img img{
    margin-right: 40px;
    width: 300px;
    height: 300px;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}
.about-experience{
    margin-top: 25px;
}
 .about-education{
    margin-top:25px;
 }

 .project-content h3{
    font-size: 15px;
    text-align: center;
 }
 h3{
    width: 100%;
    font-size:15px;
    margin-right:50px;
 }
.image-container{
    display: flex;
    flex-direction:column;
    row-gap: 50px;
    margin-right: 25px;
}
.project-image1{
margin-left: 70px;
}
#posterimg{
    margin-top: 45px;
}
.icons{
    margin-bottom:20px;
}

input{
    padding: 8px 160px 8px 20px;
    margin-left: 15px;
}
textarea{
    width:371px;
    margin-left: 15px;
}
button{
    padding: 10px 60px 10px 60px;
    margin-left: 25px;
    text-align: center;
}
}
